doctype html
-
  let merge = require('deepmerge')
  $i18n = merge($default_i18n, $i18n)
head
  title #{$i18n.title}
  link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
  link(rel='stylesheet' type='text/css' href='../style.css')
header 
  h2 
  a #{$i18n.title}
  nav
    li
      a(href='#about') #{$i18n.aboutus}
    li
      a(href='#services') #{$i18n.servicesh}
    li
      a(href='#contact') #{$i18n.contacth}
section.banner-area
  .banner-img
  h1 #{$i18n.title}
  h2 #{$i18n.header}
  h2 #{$i18n.subtitle}
  a.banner-btn(href='#contact') #{$i18n.contacth}
section#about
  ul#about-content 
    li#about-left 
    li#about-right 
      h3 #{$i18n.aboutus}
      p #{$i18n.aboutp}
      a.about-btn Learn More
  iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13414.743162210547!2d34.99756899876275!3d32.8005896639692!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x151dbba23a814ecb%3A0xd5bf43125db78464!2z16rXmden15XXnyDXkNeV16TXoNeZ15nXnSDXoNeZ15nXkyDXkdeX15nXpNeU!5e0!3m2!1sen!2sil!4v1634244271950!5m2!1sen!2sil", width="1078" height="290" style="border:0;" allowfullscreen="" loading="lazy")
section#services.services-area  
  h3.section-title #{$i18n.servicesh}
  ul.services-content
    each cardData, i in $i18n.services
      - let {symbol, title, content} = cardData
      li
        i(class=`fa fa-${symbol}`)
        h4 #{title}
        p #{content}
section#services.contact-area  
  h3.section-title #{$i18n.contacth}
  ul.contact-content
    li
      i.fa.fa-map-marker
      p #{$i18n.address}
    li
      i.fa.fa-phone
      p +972504774448
    li
      i.fa.fa-envelope
      p info@bike-help.com
footer
  h4 All Rights Reserved - maxit