doctype html
-
  let merge = require('deepmerge')
  $i18n = merge($default_i18n, $i18n)
head
  title #{$i18n.title}
  link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
  link(rel='stylesheet' type='text/css' href='../style.css')
header
  nav
    a#title(href='#banner') #{$i18n.title}
    a(href='#about') #{$i18n.about_title}
    a(href='#services') #{$i18n.services_title}
    a(href='#contact') #{$i18n.contact_title}
section#banner
  .banner-img
  h1 #{$i18n.title}
  h2 #{$i18n.header}
  h2 #{$i18n.subtitle}
  a.banner-btn(href='#contact') #{$i18n.contact_title}
section#about
  #about-left
  #about-right
    h3 #{$i18n.about_title}
    p #{$i18n.aboutp}
    a.about-btn Learn More
  iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13414.743162210547!2d34.99756899876275!3d32.8005896639692!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x151dbba23a814ecb%3A0xd5bf43125db78464!2z16rXmden15XXnyDXkNeV16TXoNeZ15nXnSDXoNeZ15nXkyDXkdeX15nXpNeU!5e0!3m2!1sen!2sil!4v1634244271950!5m2!1sen!2sil", width="1078" height="290" style="border:0;" allowfullscreen="" loading="lazy")
card-list#services(cards=$i18n.services, title=$i18n.services_title)
card-list#contact(cards=i18n.about, title=$i18n.contact_title)